## Comments in python

In [5]:
# this program adds two number
# 3+5

In [6]:
'this program adds two number' # string representation
3+5

8

In [7]:
"this program adds two number"
3+5

8

In [ ]:
'''this program adds
 two number'''
3+5

In [ ]:
"what is today's date"

## Variables

In [10]:
a = 3
b = 5

print(a+b)
a

8

3

In [14]:
# enter radius
radius = 53
# area is calculated
area = (22/7) * radius**2
print(area)

8828.285714285714

In [21]:
message = "Welcome "

message = "Welcome to class "
name = "harsh"

name = message

print(message + name)

Welcome to class Welcome to class

In [26]:
radius = int(input("enter radius value: "))

enter radius value: 6

In [27]:
type(radius)

int

In [31]:
area = radius * radius * 3.14

In [32]:
print(type(radius))
print(type(area))

<class 'int'>
<class 'float'>

In [33]:
sent = float(input("Enter amount in NZ$: "))
received = sent * 50.98
print("Received amount is Rs: ", received)

Enter amount in NZ$: 20.3
Received amount is Rs:  1034.894

In [30]:
sent = eval(input("Enter amount in NZ$: "))
received = sent * 50.98
print("Received amount is Rs: ", received)

Enter amount in NZ$: 34
Received amount is Rs:  1733.32

In [36]:
(a := 3)

3

In [37]:
a

3

In [39]:
area = 3.14 * (radius := (eval(input("enter radius value : ")))**2)
print(area)

enter radius value : 65
13266.5

## print statements

In [42]:
print('this is a print statement')

this is a print statement

In [50]:
print('''
Microsoft Corporation is an American multinational technology corporation
headquartered in Redmond, Washington. Microsoft's best-known software products
are the Windows line of operating systems, the Microsoft Office suite,
and the Internet Explorer and Edge web browsers
      ''')

Microsoft Corporation is an American multinational technology corporation
headquartered in Redmond, Washington. Microsoft's best-known software products
are the Windows line of operating systems, the Microsoft Office suite,
and the Internet Explorer and Edge web browsers

In [55]:
temp = float(input("Enter temerature in degree celcius: "))
fahrenheit = temp * (9/5) + 32

print("temperature in fahrenheit is ", fahrenheit)
print("temperature value is ", fahrenheit, " fahrenheit")
print(f"temperature value is {fahrenheit} fahrenheit")
print("temperature value is {} fahrenheit".format(fahrenheit))

Enter temerature in degree celcius: 44
temperature in fahrenheit is  111.2
temperature value is  111.2  fahrenheit
temperature value is 111.2 fahrenheit
temperature value is 111.2 fahrenheit

°C = (°F - 32) × 5/9;

In [57]:
excel = int(input("enter excel marks: "))
sql = int(input("enter sql marks: "))
python = int(input("enter python marks: "))

total_marks = 450

percentage = (excel + sql + python) * 100 / total_marks

print(f'''

      marks for excel : {excel}
      marks for sql : {sql}
      marks for python : {python}
      percentage : {round(percentage,2)}%

      ''')

enter excel marks: 123
enter sql marks: 100
enter python marks: 145


      marks for excel : 123
      marks for sql : 100
      marks for python : 145
      percentage : 81.78%

In [60]:
print(f"marks for excel {excel}\nmarks for sql {sql}\nmarks for python {python}\npercentage {round(percentage,2)} ")

marks for excel 123
marks for sql 100
marks for python 145
percentage 81.78

In [63]:
print(f"marks for excel {excel}", end = " ")
print(f"marks for sql {sql}", end = " ")
print(f"marks for python {python}")
print(f"marks for python {python}")

marks for excel 123 marks for sql 100 marks for python 145
marks for python 145

## Datatypes

In [64]:
num = 23
num_float = 23.45
text = "abcd"
text1 = "1234"
is_bool = True
is_bool1 = False

In [65]:
print(f'''

num : {type(num)}
text : {type(text)}
num_float : {type(num_float)}
text1 : {type(text1)}
is_bool : {type(is_bool)}
is_bool1 : {type(is_bool1)}
      ''')

num : <class 'int'>
text : <class 'str'>
num_float : <class 'float'>
text1 : <class 'str'>
is_bool : <class 'bool'>
is_bool1 : <class 'bool'>

## boolean conditions

In [3]:
age = 25
result = age > 30

In [4]:
result

True

In [5]:
type(result)

bool

In [6]:
type(age)

int

In [13]:
length = 70
width = "35.5"

print(type(length))
print(type(width))

area = length * float(width)
print(type(area))

<class 'int'>
<class 'str'>
<class 'float'>

In [16]:
str(length)

'70'

In [14]:
area

2485.0

In [12]:
a = "python"
b = 3
a*b

'pythonpythonpython'

In [35]:
a,b = 0,"abc"

print(bool(a))
print(bool(b))

False
True

In [53]:
num_list = [2,3,4,5]
sum(2*num_list+ num_list, 10)

52

In [55]:
2*num_list + num_list

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [56]:
sum(2 * num_list + num_list)

42

In [51]:
2*num_list + num_list

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [49]:
type(num_list)

list

In [62]:
"hello Mr. A Thomas"

print("hello, Mr.", "Thomas", sep = "")

hello, Mr.Thomas

In [60]:
print("company_name", "revenue", "share_price", sep = "-->")

company_name-->revenue-->share_price

In [63]:
a = "python"
a *5

'pythonpythonpythonpythonpython'

In [66]:
print("python",5)

python 5

In [72]:

def cal_tax(salary):
    if salary <= 250000:
        tax = 0
        return tax
    elif salary <= 500000:
        taxable_salary = salary - 250000
        tax = taxable_salary * 0.05
        return tax
    elif salary <=1000000:
        taxable_salary = salary - 500000
        tax = taxable_salary * 0.20 + 12500
        return tax
    elif salary >1000000:
        taxable_salary = salary - 1000000
        tax = taxable_salary*0.3 + 100000 + 12500
        return tax

In [76]:
salary = float(input("Enter your annual salary"))
cal_tax(salary)

Enter your annual salary 800000

72500.0

In [78]:
x = 5

(3 * x**3 + 5* x**2 - 6)**5

29419463232224

In [79]:
a = 20
b = 25

a > b

False

In [81]:
a < b

True

In [85]:
20 != 20

False

In [86]:
a != b

True

In [95]:
salary = 25000

not((salary >= 250000)) and (salary <= 500000)

True

In [127]:
a = 5
b = 5
c = a

In [128]:
id(a), id(b), id(c)

(140714468238248, 140714468238248, 140714468238248)

In [129]:
a = [2,3,4]
b = [2,3,4]
c = a

In [130]:
id(a), id(b), id(c)

(1314904642624, 1314904946496, 1314904642624)

In [133]:
a is b, a is c

(False, True)

In [134]:
a == c

True

In [113]:
a == b

True

In [114]:
a is b

False

In [115]:
a is c

True

In [137]:
 a = {1,2,3,4,5, 4}
a.add(6)

In [141]:
pga04 = ["shariq", "amandeep", "khushi","tanvi", "aryan"]

In [142]:
pga04

['shariq', 'amandeep', 'khushi', 'tanvi', 'aryan']

In [144]:
"ankit" not in pga04

True

In [145]:
"shariq" in pga04

True